@import url("https://db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
  background: darkgray;
}

body {
  font-family: "Electronic Arts Text", sans-serif;
  height: 100%;
  background-color: #141414;
  color: white !important;
}

#root {
  height: 100%;
}

h2 > span {
  color: #dd22cc;
}

a {
  text-decoration: none !important;
  color: white !important;
}

ul li,
ol li {
  list-style: none;
  cursor: pointer;
}

.MuiListItem-root.Mui-selected {
  background-color: #fff !important;
}

.MuiTableCell-root > .MuiIconButton-root {
  margin: 0 !important;
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  width: 100%;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;

  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}
