@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap");

/* includes custom font from ./fonts folder at build time */
@font-face {
  font-family: 'Electronic Arts Text';
  src: local('Electronic Arts Text'),
  url(./fonts/EA.woff2) format('woff2');
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
  background: darkgray;
}

body {
  font-family: "Electronic Arts Text", sans-serif;
  height: 100%;
  background-color: #141414;
  color: white !important;
}

#root {
  min-height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  /* 
      align-content: space-between; 
      flex-wrap: wrap;
  */
}

h2 > span {
  color: #dd22cc;
}

a {
  text-decoration: none !important;
  color: white;
}

ul li,
ol li {
  list-style: none;
  cursor: pointer;
}

.MuiListItem-root.Mui-selected {
  background-color: #fff !important;
}

.MuiTableCell-root > .MuiIconButton-root {
  margin: 0 !important;
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  width: 100%;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

.paypal-buttons {
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
